name: CI

on:
  push:
    branches:
      - main

jobs:
  cocotb:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Icarus Verilog
        run: sudo apt-get install iverilog

      - name: Run cocotb tests
        run: |
          make sim_cocotb